{% extends "base.html" %}
{% block content %}
    <form action="/postmovie" method="post" name="postmovie">
    {{ form.hidden_tag() }}
    <p>
        Title: {{ form.title(size=60) }}<br>
        Genre: {{ form.genres() }}<br><br>
        Description: {{ form.description() }}<br>
        Release Date: {{ form.release_date() }}<br>
        Writers: {{ form.writers() }}<br>
        Directors: {{ form.directors() }}<br>
        Actors: {{ form.actors() }}<br><br>
        <input type="submit" value="Post"><br>
    </p>
{% endblock %}
