{% extends "base.html" %}
{% block content %}
    <form action="/postshow" method="post" name="postshow">
    {{ form.hidden_tag() }}
    <p>
        Title: {{ form.title(size=60) }}<br>
        Genre: {{ form.genre() }}<br><br>
        Description: {{ form.description() }}<br>
        Season: {{ form.season() }}
        Episode: {{ form.episode() }}<br>
        Episode Title: {{ form.episode_title() }}<br>
        Date: {{ form.date() }}<br>
        Writers: {{ form.writers() }}<br>
        Directors: {{ form.directors() }}<br>
        Actors: {{ form.actors() }}<br><br>
        <input type="submit" value="Post"><br>
    </p>
{% endblock %}
